@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
}

button {
    padding: 1.5rem 4rem;
    background-color: #2D2D2D;
    color: white;
    font-family: Epilogue;
    font-size: 1.25rem;
    border: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
}

.barskills {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    gap: 10rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.barskills section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.footpage {
    display: flex;
    flex-direction: row;
    padding: 2.625rem 1.5rem 5.375rem 1.5rem;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.footpage h2 {
    font-weight: 600;
}

.info-footer p {
    font-weight: 400;
    line-height: 1.60rem;
}

.info-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.text-description {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.auto-complete form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 20rem;
    max-width: 32.5rem;
    gap: 1.5rem;
    flex: 1 0 0;
}

.auto-complete input {
    display: flex;
    min-width: 20rem;
    max-width: 32.5rem;
    padding: 1rem 1.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    background-color: #F3F3F3;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 1.06rem;
    border: none;
    font-family: Epilogue;
}